{% extends 'base.html' %}
<title>{% block title %} {{ object.position }}{% endblock %}</title>
{% block content %}
<div class="container py-5 list">
    {% with work_experience=object.work_experiences %}
    <div class="py-5">
        <h3 class="text-center text-light action_title">{{ object.position }}</h3>
        <p class="py-3">
        <div class="">
            <br><strong class="text-secondary">Company :</strong> {{ object.company }}</br>
            <br><strong class="text-secondary">Position:</strong> {{ object.position }}</br>
            <br><strong class="text-secondary">Description or role:</strong> {{ object.description_or_role|safe }}</br>
            <br><strong class="text-secondary">Year:</strong> {{ object.year }}</br>
        </div>
        </p>
        <div class="py-5 text-center">
            <a class="btn btn-success rounded-pill text-center" href="{% url 'manage_work_experience_list' %}"> Back</a>
        </div>
        <div class="py-5">
            <div class="py-5">
            </div>
        </div>
    </div>
    {% endwith %}
</div>
{% endblock %}