/* Footer*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #d4d4d4;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.list {
  background-color: white;
}

.action_title {

  background-color: #42A362
}


/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/* Container for skill bars */
.container {
  width: 100%;
  /* Full width */

}

.skills {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: white;
  /* White text color */
}

.skill {
  width: 80%;
  background-color: #2196F3;
}

.checked {
  color: orange;
}