{% extends "base.html" %}
{% load static %}
<title>{% block title %}Resume{% endblock %}</title>
{% block content%}
<section id="resume" class="py-5 section section-blank">
    <div class="container text-light my-3 py-5">
        {% include 'partials/resume_header.html' %}
        <div class="container text-light pb-5" style="background-color: #4E6857">
            <li style="list-style-type: none;">
                <h3 class="section-tagline my-3 pt-5" style="text-align:left;">
                    <div class="navbar navbar-expand-lg navbar-dark" style="background-color: green">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ml-4 mr-3">
                                    <a class="nav-link" href="/contact"> Contact</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link " href="/educations"> Education</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link" href="/work_experiences"> Experience</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link" href="/projects"> Projects</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link" href="/skills"> Skills</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link btn-outline-secondary active" href="/leaderships">
                                        Extracurricular Activities </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </h3>
            </li>
            <h3 class="section-tagline my-3 py-3" style="text-align:left;">
                <em class="fa fa-university">
                    Membership, leadership roles, hobbies, etc
                </em>
            </h3>
            <div class="mx-3" style="background-color:#454646">
                {% if leaderships %}
                {% for position in leaderships %}
                <div class="pt-2">
                    <ul>
                        <div class="pb-2 pt-3">
                            <strong class="text-secondary">
                                {{ position.name }}
                            </strong>
                        </div>
                        <div>
                            <p>{{ position.description|safe }}</p>
                        </div>
                    </ul>
                </div>
                <div class="pt-2" style="background-color:#4E6857"></div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}