{% extends "base.html" %}
{% load static %}
<title>{% block title %}Resume{% endblock %}</title>
{% block content%}
<section id="resume" class="py-5 section section-blank">
  <div class="container text-light my-3 py-5">
    {% include 'partials/resume_header.html' %}
    <div class="container text-light pb-5" style="background-color: #4E6857">
      <li style="list-style-type: none;">
        <h3 class="section-tagline my-3 pt-5" style="text-align:left;">
          <div class="navbar navbar-expand-lg navbar-dark" style="background-color: green">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-4 mr-3">
                  <a class="nav-link" href="/contact"> Contact</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link " href="/educations"> Education</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/work_experiences"> Experience</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link" href="/projects"> Projects</a>
                </li>
                <li class="nav-item mr-3">
                  <a class="nav-link btn-outline-secondary active" href="/skills"> Skills</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/leaderships"> Extracurricular Activities </a>
                </li>
              </ul>
            </div>
          </div>
        </h3>
        <h3 class="section-tagline my-3 py-3" style="text-align:left;">
          <em class="fa fa-cogs">
            Skills
          </em>
        </h3>
        <div class="mx-3" style="background-color:#454646">
          <ol class="my-3 " style="list-style-type: none;">
            <div class="container my-3 pt-3">
              <h5 class="text-center">Hard Skills</h5>
              <div class="row py-3">
                <ul>
                  {% for skill in skills %}
                  {% if skill.is_hard_skill and skill.is_active %}
                  {% include 'partials/rating.html' %}
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <h5 class="text-center">Soft Skills</h5>
              <div class="row ">
                <ul>
                  {% for skill in skills %}
                  {% if skill.is_soft_skill and skill.is_active %}
                  {% include 'partials/rating.html' %}
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ol>
        </div>
    </div>
  </div>
</section>
{% endblock %}